.faqSection {
  min-height: 100vh;
  padding: 5rem 10rem;
}

.faqSection h2 {
  padding: 2rem 0rem;
}

.faqSection span {
  display: block;
}

.question {
  padding: 3rem 0rem;
  cursor: pointer;
}

.question h4 {
  font-size: 2rem;
  font-weight: bold;
}

.question p {
  padding: 1rem 0rem;
}

.answer {
  padding: 2rem 0rem;
}

.line {
  width: 100%;
  background: #cccccc;
  height: 0.2rem;
  margin: 2rem 0rem;
}

@media screen and (max-width: 1200px) {
  .faqSection {
    padding: 5rem 8rem;
  }
}

@media screen and (max-width: 768px) {
  .faqSection {
    padding: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .faqSection {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .faqSection {
    padding: 4rem 2rem;
  }
  .question h4 {
    font-size: 1.5rem;
  }
}
