@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b1b1b;
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
}

p {
  font-size: 1.4rem;
  color: rgb(204, 204, 204);
}

button {
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

span {
  color: #23d887;
  font-weight: bold;
}
